# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Hugging Face cache
.cache/
huggingface/
*.bin
*.safetensors