<section class="post-meta">
    <strong class="like-text">좋아요 {{ post.likes_display }}개</strong>
    <p><a class="post-meta-author" href="{{ post.author_url }}"><strong>{{ post.author }}</strong></a> {{ post.caption }}</p>
    {% if post.hidden_comments %}
        <button class="all-comments" type="button" data-show-comments>댓글 {{ post.comment_count }}개 모두 보기</button>
    {% endif %}
    {% for comment in post.visible_comments %}
        {% include "instagram/components/_comment_row.html" %}
    {% endfor %}
    {% if post.hidden_comments %}
        <div class="hidden-comments" hidden>
            {% for comment in post.hidden_comments %}
                {% include "instagram/components/_comment_row.html" %}
            {% endfor %}
        </div>
    {% endif %}
    <time>{{ post.time }}</time>
</section>
