{% if story.is_self %}
<a class="story-item" href="{% url 'instagram:story_create' %}" style="--avatar-color: {{ story.color }};">
{% else %}
<button class="story-item" type="button" data-story-open data-story-name="{{ story.username }}" data-story-profile-url="{% url 'instagram:user_profile' story.username %}" data-story-avatar-url="{{ story.avatar_url }}" data-story-initial="{{ story.initial }}" data-story-image="{{ story.image_url }}" data-story-images="{{ story.images_json|escape }}" style="--avatar-color: {{ story.color }};">
{% endif %}
    <span class="story-avatar{% if story.is_self %} story-self{% endif %}" style="--avatar-color: {{ story.color }};">
        {% if story.avatar_url %}
            <img src="{{ story.avatar_url }}" alt="{{ story.username }} 프로필 사진">
        {% else %}
            {{ story.initial }}
        {% endif %}
        {% if story.is_self %}
            <span class="story-plus">+</span>
        {% endif %}
    </span>
    <span class="story-name">{{ story.username }}</span>
{% if story.is_self %}
</a>
{% else %}
</button>
{% endif %}
